
#svg-animation-image-container {
  width: 60%;
  min-width: 600px;
  height: auto;
  position: absolute;
  right: 0;

  @media screen and (max-width: 880px){
    margin-top: 50px;
  }

  @media screen and (max-width: 580px){
    min-width: 0;
    width: 100%;
  }

  #intro-animation {
    overflow: visible;
  }
}

.hover-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  line-height: normal;
  opacity: 0;
  border-radius: 100%;
  background-color: color(text-bg);
  color: color(blue-gearsaid);
  font-size: 15px;

  li.menu__item:hover & {
    opacity: 1;
  }

}

#webform-client-form-13 {
  display: none;
}

.svg-bg-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.single-page-wrapper {
  position: relative;
  //background-color: hsla(215, 79%, 73%, 0.33);
}

#contenthiwearegearsaid .field-name-body {
  position: relative;
  width: 100%;
  margin-top: 360px;
  padding-right: 360px;
  float: left;
  z-index: 1;

  @media screen and (max-width: 1140px) {
    padding-right: 0;
  }
  @media screen and (max-width: 880px){
    margin-top: 430px;
  }
  @media screen and (max-width: 580px){
    margin-top: 360px;
  }

  h2 {
    font-weight: normal;
  }
}

.field-name-field-subtitle {
  h2 {
    margin: 3px 0;
    font-size: 26px;
    color: color(blue-gearsaid);
    font-weight: normal;
    @media screen and (max-width: 1040px) {
      color: color(text);
    }
  }
}

.field-name-field-intro-animation-container  {
  margin-top: 15px;
}