@import "compass/css3";
$i: 1;
$pi: 3.14159265359;
$_precision: 10;

@function pow($base, $exp) {
  $value: $base;
  @if $exp > 1 {
    @for $i from 2 through $exp {
      $value: $value * $base;
    }
  }
  @if $exp < 1{
    @for $i from 0 through -$exp {
      $value: $value / $base;
    }
  }
  @return $value;
}

@function fact($num) {
  $fact: 1;
  @if $num > 0{
    @for $i from 1 through $num {
      $fact: $fact * $i;
    }
  }
  @return $fact;
}

@function _to_unitless_rad($angle) {
  @if unit($angle) == "deg" {
    $angle: $angle / 180deg * $pi;
  }
  @if unit($angle) == "rad" {
    $angle: $angle / 1rad;
  }
  @return $angle;
}

@function sin($angle){
  $a: _to_unitless_rad($angle);
  $sin: $a;
  @for $n from 1 through $_precision {
    $sin: $sin + (pow(-1, $n) / fact(2 * $n + 1) ) * pow($a, (2 * $n + 1));
  }
  @return $sin;
}

@function cos($angle){
  $a: _to_unitless_rad($angle);
  $cos: 1;
  @for $n from 1 through $_precision {
    $cos: $cos + ( pow(-1,$n) / fact(2*$n) ) * pow($a,2*$n);
  }
  @return $cos;
}

@function tan($angle){
  @return sin($angle) / cos($angle);
}

#block-menu-block-1 {
  filter: url('#shadowed-goo');
  position: absolute;
  right: 0;
  width: 400px;
  height: 300px;
  padding: 30px 30px 0 0;

  @media screen and (max-width: 1400px) {
    position: fixed;
    right: 10px;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
    padding: 0;
  }


  //variables
  $menu-items: 5;
  $item-width: 65px;
  $item-height: 65px;
  $hamburger-distance: 8px;
  $opening-distance: 165px;
  $opening-arc: $pi/2;

  %drop {
    position: absolute;
    top: 20px;
    right: 20px;
    width: $item-width;
    height: $item-height;
    border-radius: 100%;
    background-color: color(blue-gearsaid);
    text-align: center;
    line-height: $item-height;
    cursor: pointer;
    transition: transform ease-out 200ms;

    @media screen and (max-width: 500px) {
      top: 100px;
    }

  }

  .menu-open {
    display: none;
  }
  //OPEN/CLOSE BUTTON
  .menu-open-button {
    @extend %drop;
    background-color: white;
    transform: scale(1.05);
    z-index: 10;

    &:hover {
      transform: scale(1.1,1.1);
    }
  }
  .menu-open:checked + .menu-open-button {
    transform: scale(0.8,0.8);
  }

  //HAMBURGER LINES ON OPEN/CLOSE BUTTON
  .hamburger {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.5px;
    margin-left: -$item-width*0.6/2;
    width: $item-width*0.6;
    height: 3px;
    background-color: color(text-bg);
    background-color: color(blue-gearsaid);
    transition: transform ease-out 200ms;
  }

  .hamburger-1 {
    transform: translate3d(0,-$hamburger-distance, 0);
  }
  .hamburger-3 {
    transform: translate3d(0,$hamburger-distance, 0);
  }

  .menu-open:checked+.menu-open-button  {
    .hamburger-1 {
      transform: translate3d(0,0,0) rotate(45deg);
    }
    .hamburger-2 {
        transform: scale(0.1,0.1);
    }
    .hamburger-3 {
      transform: translate3d(0,0,0) rotate(-45deg);
    }
  }

  //MENU ITEMS
  .menu__item {
    @extend %drop;
    list-style-image: none;
    list-style-type: none;

    @for $i from 1 to $menu-items+1 {
      &:nth-child(#{$i}) {
        transition-duration: 10ms+(60ms*$i);
      }
    }

    &:hover {
      color: color(blue-gearsaid);
      background-color: color(text-bg);

      a {
        color: color(blue-gearsaid);
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: normal;
      height: 100%;
      color: color(text-bg);
      font-size: 20px;
      text-decoration: none;
    }
  }

  .menu-open:checked~ .menu-block-wrapper .menu .menu__item {
    transition-timing-function:cubic-bezier(0.935, 0.000, 0.340, 1.330);

    @for $i from 1 to $menu-items+1 {
      $angle: ($pi/4 + ($pi - $opening-arc)/2) + (($opening-arc/($menu-items - 1))*($i - 1));

      &:nth-child(#{$menu-items+1 - $i}) {
        transform:translate3d(cos($angle)*$opening-distance,sin($angle)*$opening-distance,0);
      }
    }
  }



}

#block-system-main-menu {
  display: none;
}

