
#single-page-overall-wrapper  {
  margin-top: -49px;
  position: relative;

  &>svg {
    position: absolute;
    top: -72px;
    overflow: visible;
  }
}

.single-page {
  position: relative;
  padding: 170px 148px;
  z-index: 10;

  @media screen and (max-width: 940px) {
    padding: 170px 100px;
  }
  @media screen and (max-width: 767px) {
    padding: 170px 50px;
  }
  @media screen and (max-width: 600px) {
    padding: 170px 0px;
  }
}



.single-page-title {
  font-size: 26px;
  font-weight: normal;
  margin: 0;
}


#contenthiwearegearsaid {
  .single-page {
    padding-bottom: 0;
    padding-top: 130px;
  }
}


#contentaboutus {
  .single-page {
    padding-top: 100px;

    @media screen and (max-width: 880px) {
      padding-top: 80px;
    }

    @media screen and (max-width: 660px) {
      padding-top: 0;
    }
  }

  .field {
    float: left;
    width: 50%;

  }

  .field-name-field-idea {
    @media screen and (max-width: 640px) {
      width: 100%;
    }
  }
  .field-name-field-design {
    width: 100%;
  }

}

