// Font faces
//
// Instead of relying on the fonts that are available on a user's computer, you
// can use web fonts which, like images, are resources downloaded to the user's
// browser. Because of the bandwidth and rendering resources required, web fonts
// should be used with care.
//
// Numerous resources for web fonts can be found on Google. Here are a few
// websites where you can find Open Source fonts to download:
// - http://www.fontsquirrel.com/fontface
// - http://www.theleagueofmoveabletype.com
//
// In order to use these fonts, you will need to convert them into formats
// suitable for web fonts. We recommend the free-to-use Font Squirrel's
// Font-Face Generator:
//   http://www.fontsquirrel.com/fontface/generator
//
// The following is an example @font-face declaration. This font can then be
// used in any ruleset using a property like this:  font-family: Example, serif;
//
// Since we're using Sass, you'll need to declare your font faces here, then you
// can add them to the font variables in the _init.scss partial.

@font-face {
	font-family: 'Conv_Mellnik-Cond-Light-Regular_30088';
	src: url('../fonts/Mellnik-Cond-Light-Regular/Mellnik-Cond-Light-Regular_30088.eot');
	src: url('../fonts/Mellnik-Cond-Light-Regular/Mellnik-Cond-Light-Regular_30088.woff') format('woff'),
		 url('../fonts/Mellnik-Cond-Light-Regular/Mellnik-Cond-Light-Regular_30088.ttf') format('truetype'),
		 url('../fonts/Mellnik-Cond-Light-Regular/Mellnik-Cond-Light-Regular_30088.svg') format('svg');
   	font-weight: normal;
  	font-style: normal;
 }

 @font-face {
	font-family: 'Conv_Geometria-Light';
	src: url('../fonts/geometria-light/Geometria-Light.eot');
	src: local('☺'), url('../fonts/geometria-light/Geometria-Light.woff') format('woff'), url('../fonts/geometria-light/Geometria-Light.ttf') format('truetype'), url('../fonts/geometria-light/Geometria-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ocrb10';
	src: url('../fonts/ocrb10/ocrb10pitchbt-regular-opentype.eot');
	src: local('☺'), url('../fonts/ocrb10/ocrb10pitchbt-regular-opentype.woff') format('woff'), url('../fonts/ocrb10/ocrb10pitchbt-regular-opentype.ttf') format('truetype'), url('../fonts/ocrb10/ocrb10pitchbt-regular-opentype.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
