// Dependencies.
@import 'base/headings/headings';
@import 'components/clearfix/clearfix';

// Branding header
//
// Markup: header.twig
//
// Style guide: components.header

.header,  
%header {
          @extend %clearfix;

    background-image: url('../images-source/in use/proba-gears-photo-header-croped-colored-opacity0.8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center; 
    
    background: #023C50;
    
    border: 5px solid #ffffff;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    
    transition: all 1s ease-in-out;



          .layout-nav {
              overflow: hidden;

                .layout-center {
                  padding: 15px 10px;
                }

          }

           .layout-center {
              display: block;
              overflow: hidden;
              
              padding-top: 10px;
              padding-bottom: 10px;
          }

          .main-heading {
              /* ovo je layout-center u kome je glavni h1 na frontpage-u */
                  height: 100%;
                  padding-top: 25%;
                  transition: all 1.5s ease-in-out;
      

          }


          .language-switcher-locale-session  {
                margin: 0;
                float: right;

                a { 
                    color: #ffffff;
                    text-decoration: none;
                    padding: 0 15px;
                    display: block;
                   
                  }

                a.session-active {
                  border-bottom: 1px solid #ffffff;
                }

                li {
                    list-style: none;
                    margin-left: 15px;
                    padding: 15px 0;
                }
          }

  // Wrapping link for logo.
  &__logo {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;

    @include rtl() {
      float: right;
      margin: 0 0 0 10px;
    }
  }

  // Logo image.
  &__logo-image {
    vertical-align: bottom;
    float: left;
    border-right: 1px solid #ffffff;
    padding-right: 10px;
    padding-top: 10px;
  }

  .logo-pic {
    width: 235px;
    
    float: left;
   
    /* margin-right: 10px; */

  }



  // Wrapper for website name and slogan.
  &__name-and-slogan {
    float: left;
  }
  // The name of the website.
  &__site-name {
    @extend %h1;
    margin: 0;
    color: #45C9F5;
    line-height: 2rem;
    margin-bottom: 4px;


  }

  // The link around the name of the website.
  &__site-link {
    &:link,
    &:visited {
      color: color(text);
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  // The slogan (or tagline) of a website.
  &__site-slogan {
    margin: 0;
    color: #ffffff;
    padding: 16px 0;
    padding-left: 10px;

  }

  // The secondary menu (login, etc.)
  &__secondary-menu {
    float: right;

    @include rtl() {
      float: left;
    }
  }

  // Wrapper for any blocks placed in the header region.
  &__region {
    // Clear the logo.
    
    li {
        float: right;
    }
  }

  @media screen and (max-width: 991px) {
     .main-heading {
          padding-top: 25%;
          
      }
           
  }



  @media screen and (max-width: 767px) {
     .layout-nav {
        .layout-center {
          display: flex;
         /* border: 1px solid red;  */
          justify-content: flex-start;

            .logo-pic {
              min-width: 200px;
                img {
                  padding-bottom: 5px;
                }
            }

            .header__name-and-slogan {
              /* border: 1px solid red; */
              display: flex;
              align-items: center;
              float: left;

                .header__site-slogan {
                  padding: 0 10px;
                  line-height: 1.2rem;
                }

            }
        }


     }

  }


  @media screen and (max-width: 767px) and (orientation: landscape)  {
      .main-heading {
          padding-top: 12%;
          
      }
  }

  @media screen and (max-width: 650px) {
    .main-heading {
          padding-top: 35%;
          
      }
  }

@media screen and (max-width: 650px) and (orientation: landscape) {
    .main-heading {
            padding-top: 6%;
            
            h1 {
              font-size: 30px;
            }
        }
}

   @media screen and (max-width: 550px) {
       .main-heading {
              padding-top: 45%;

              h1 {
                font-size: 2rem;
              }
        }
   }


  @media screen and (max-width: 400px) {
        .layout-nav {
          .layout-center {
            flex-direction: column;

              img.header__logo-image {
              
                  border: none;
                  padding-bottom: 0;
              }

              .header__name-and-slogan {

                  .header__site-slogan {
                    padding: 10px 0 0 0;
                  }

              }
          }
        }
    }
}

