.stickynav-active {
  
  
  z-index: 1000;
  width: 100%;
  /*padding-left: 0px;
  padding-right: 0px;*/
  margin-left: auto;
  margin-right: auto;

}

@media screen and (min-width: 501px) {
	.stickynav-active {
		top: 0px;
    background: rgba(255,255,255, 0.95);
    position: fixed;
    
	}
}