[id^='kssref-layouts-'] [class^='layout-'][class*='__'] {
  outline: 1px dotted #999999;
}

#kssref-layouts-layout-3column .kss-modifier__example {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 777px) {
  #kssref-layouts-layout-3column .kss-modifier__example {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*# sourceMappingURL=kss-only.css.map */
