 div#portfolioview  {

	
	position: relative;
		
		&:after {
			content: " ";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-image: url('../images-source/belgrade-bridge.jpg');
			background-repeat: 	no-repeat;
			background-attachment: fixed;
			background-size: cover;
			background-position: 0 0;
			z-index: -1;
			opacity: 0.5;
		}

		.single-page-title {
			
			
			color: color(white);

		}


		.view-filters {	
			border-top: 1px solid color(white);

			.views-exposed-widget>label {
				background: rgba(255,255,255,0.27);
				color: color(white);
				    margin-bottom: 5px;
				padding: 5px;
			}

			.bef-checkboxes {
				background: rgba(255,255,255,0.63);
			}


		}


		.views-row {
			/* box-shadow: 0 0 20px #ddd; */
			border: none;

			.node-portfolio {
				background: rgba(255,255,255,0.83);
			}
		}



}


