
// Navigation menu - glavni meni 




.region-navigation {
     transition: all .2s ease-in-out;
     position: absolute;
     bottom: 0;
     width: 100%;
     z-index: 100;

     @media screen and (max-width: 500px) {position: fixed; bottom: 0;}
     
      #block-system-main-menu {
			padding-top: 10px;
			padding-bottom: 10px;
			@include type-layout('xl', 1.5);
				
				h2 {
					display: none;
					margin: 0;
				}

				

				ul.menu {
					transition: all .3s ease-in-out;
					padding: 0;
			    	display: flex;
			    	justify-content: space-between;
			    	margin: 0 auto;
			    	li {
			    		padding-left: 2px;

			    		a {
				    		text-decoration: none;
				    		text-transform: uppercase;
				    		font-size: 1rem;
				    		display: block;
			    		}
			    	}

				}

				


		
	  }


	@media screen and (max-width: 500px) {
		
		#block-system-main-menu {
		    height: auto;
		    width: 100%;
		    text-align: left;
		    padding: 0 5px;
			
				h2  {
					transition: all .2s ease-in-out;
					display: block !important;
				    position: absolute;
				    height: 50px;
				    width: 50px;
				    top: -49px;
				    left: 50%;
				    margin-left: -25px !important;
				    background: #ffffff;

				    &:after {
				    	content: " ";
					    position: absolute;
					    width: 1em;
					    height: 0.125em;
					    border-top: 0.375em double #023c50;
					    border-bottom: 0.125em solid #023c50;
					    top: 17px;
					    left: 50%;
					    margin-left: -12px;
				    }


				}

			
		   		ul.menu {
		   			text-align: center;
		   			flex-direction: column !important;
		   			background: #fff;

		   			a {
		   				color: #023c50;
		   			}	
		   		}

				
		}

	}

}


.fade {
	background: rgba(255,255,255,0.95);

		#block-system-main-menu {
			
			h2 {
			  background: #023c50;
			  border: 1px solid white;
    		  border-bottom: none;
				&:after {
					border-top: 0.375em double #ffffff;
					border-bottom: 0.125em solid #ffffff;
				}
			}

			

			a {
				color: #023c50;
			}

		}



	@media screen and (max-width: 500px) {
		#block-system-main-menu {
			transition: all .5s ease-in-out;
			
			padding: 0 5px;

				ul.menu {
					background: #023c50 !important;
					border-top: 1px solid #ffffff;
						a {
							color: #ffffff !important;
						}
				}
		}
	}
}


.stickynav-active {	
	
	max-width: none;
	ul{
		max-width: 1180px;
	}
	@media screen and  (max-width: 500px) {
		& {
			bottom: 0;
			
		}
	}
				
}


// END OF Navigatio menu - glavni meni





body>.layout-3col {

	margin: 0;
	padding: 0;
	background: #ffffff;
	top: 100%;
}












.single-page-wrapper {
	padding: 100px 0;
}

.single-page {
	.single-page-title {
		color: color(teget-transparent);
	}
}



div#contentaboutus {
	
	padding: 100px 0;
	
	.single-page {	
		/* border: 1px solid yellow; */
	    width: 100%;
	    display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    
	    	.single-page-title {
	    		/* border: 1px solid red; */
			    width: 25%;
			    display: flex;
			    margin: 0;
			    justify-content: flex-start;
			    align-items: center;
			    border-right: 1px solid #023c50;
	    	}

	    	article {
	    		/* border: 1px solid blue; */
			    display: flex;
			    width: 70%;
			    justify-content: flex-start;
			    align-items: center;

			    p {
			    	/* border: 1px solid purple; */
    				margin: 0;
    				text-align: justify;
			    }

	    	}

	}

	@media screen and (max-width: 767px) {
		.single-page {
			flex-direction: column;
			padding: 0 !important;

				h2.single-page-title {
					width: 100%;
					justify-content: center;
					border: none;
					 @include typeface(heading);
					 @include type-layout(xl, 1.5);
					 @include margin-top(1, xl);
					 @include margin-bottom(1, xl);
				}

				article {
					width: 100%;
					padding: 20px 0;
					display: block;

					.field-name-body{
						width: 100%;
					}
				}
		}
	}



}


div#portfolioview {
		
		background: #00161e;

		overflow: hidden;
		position: relative;
		background-image: url('../images-source/portfolio/portfolio-bg-blue-greyscale-blur.jpg'); 
		background-repeat: 	no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: 0 0;


		

		.single-page {

			.single-page-title {
				text-align: center;
				
			}

			.view-portfolio-view {
				
				.views-exposed-widget>label {
				
					font-weight: normal;
					@include font-size(l);
					margin-bottom: 10px;
				}

				.view-filters {
					
					
					border-top:	1px solid color(white);
					padding: 10px 0;
					text-align: center;

						.views-exposed-widgets {
							margin-bottom: 0;


						}

						.description {
							display: none;

						}
						.views-widget {
							width: 100%;
	    					margin: 0 auto;

	    					/* Check boxes  */
							.bef-checkboxes {
								display: flex;
					    		justify-content: space-between;
					   			padding: 5px;
					   			width: 100%;
					    		flex-wrap: wrap;
					    		background: color(white);

					    		input {
					    			vertical-align: middle;
					    		}

							}
						}

					.views-widget-filter-field_project_technology_tid {
						width: 100%;
						padding: 0;
					}

					.views-submit-button {
						display: none;
					}

				}



				.view-content {
					
					/* background: yellow; */
					margin-left: -3px;
					margin-right: -3px;

					.views-row {
						/* background: color(segment-bg); */
						/* border: 1px solid blue; */
						/* border-bottom: 1px solid #ccc;
			    		/* border-right: 1px solid #cccccc;*/
					    float: left;
					    width: 33.33%;
					    padding: 3px;
					    text-align: center;
			    		/* box-shadow: 0 0 20px #ddd; */
			    		margin-bottom: 2px;
			    		perspective: 1000px;

			    		@media screen and (max-width: 991px) { & { width: 50%;}}
			    		@media screen and (max-width: 600px) { & { width: 100%;}}


			    		.node-portfolio {
			    			position: relative;
			    			background: color(white);
					    	padding: 10px;
					    	transition: all .6s ease-in-out;
					    	
					    	transform-style: preserve-3d; 
					    	/* animation: spin 10s infinite linear; */
					    	&:after {
					    		content: " ";
							    position: absolute;
							    width: 100%;
							    height: 39px;
							    bottom: 0px;
							    /* border: 1px solid red; */
							    left: 0;
							    background: linear-gradient(to bottom, rgba(255,255,255,0.67) 0%, rgba(255,255,255,0.6) 19%, rgba(255,255,255,0.8) 38%, rgba(255,255,255,0.9) 70%, rgba(255,255,255,1) 100%);
							    z-index: -1;
							    opacity: 0;
							}
							
							/* Glavni heading */
							
							h2 {
								font-size: 1rem;
							}

							.field-name-field-image-portfolio {
								position: relative;
								

									img {
										width: 100%;
									}
							}

							.field-name-title {
								position: relative;	
								

									h2 {
										margin: 0;
									}
							}

							/* Tekst, opis projekta */
							div.field-name-body {
								color: white;
							   	font-weight: bold;
							    font-size: 1.2rem;
							    position: absolute;
							    top: 0;
							    left: 0;
							    width: 100%;
							    min-height: 100%;
							    background: #45c9f5 !important;
							    padding: 10px;
							    transform: translateZ(-20px) rotateY(180deg);
							    transform-style: preserve-3d;

							    &:after {
							    	content: " ";
								    position: absolute;
								    top: 0;
								    right: -10px;
								    width: 20px;
								    height: 100%;
								    background: rgba(255,255,255,0.95);
								    transform: rotateY(-90deg) translateX(-10px);

								    

							    }


							    @keyframes spin {
							    	from {transform: rotateY(0deg);}
							    	to {transform: rotateY(360deg);} 
							    }

							    @media screen and (min-width: 601px) and (max-width: 668px), (max-width: 371px) {
							    	& {
							    		font-size: 0.9rem;
							    	}
							    } 

							    @media screen and (max-width: 321px) {
							    	& {
							    		font-size: 0.8125rem;
							    	}
							    }
							    	p {
							    		margin: 0;
							    	}
							}





			    		}

		  		

					}


				}
				


			}


		}
			
	
		

}

 
.region-highlighted {
	background: rgba(225,225,225, 0.25);




}



.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }



#teamview {

	

	h2 {
		text-align: center;
		line-height: 1.5;
		
	}

	.view-content {
		margin: 0 -10px;
		overflow: hidden;
		padding: 20px 0;


	}

	.views-row {
		width: 25%;
		margin: 0;	
		float: left;
		padding: 10px;
		
		@media screen and (max-width: 1100px) {
			& {
				width: 50%;
				padding: 4%;
			}
		}

		@media screen and (max-width: 700px) {
			& {
				padding: 2%;
			}
		}

		@media screen and (max-width: 600px) {
			& {
				width: 100%;
    			padding: 6% 10%;
			}
		}

		@media screen and (max-width: 450px) {
			& {
    			padding: 6% 2%;
			}
		}

		@media screen and (max-width: 320px) {
			& {
    			padding: 3% 0;
    			
			}
		}


			.node-team {
				background: rgba(250, 248, 248, 0.6);
				padding: 10px;
				position: relative;

			}

			.group-team-picture-title-wrapper {
				position: relative;
					


					.field-name-title  {
						position: absolute;
			    		bottom: 10%;
			    		width: 96%;
		    			left: -3%;
		    			@media screen and (max-width: 320px) {
								& {width: 100%;}
							}

		    			.field-item {

		    				&:after {
				    			content: " ";
							    position: absolute;
							    height: 100%;
							    /* border: 1px solid red; */
							    width: 30px;
							    background: rgba(62, 155, 186, 0.86);
							    -webkit-transform: skewY(-23deg);
							    -ms-transform: skewY(-23deg);
							    transform: skewY(-23deg);
							    transform-origin: center;
							    top: -6px;
							    left: -5px;

			    			}


		    			}

	    				
			    		}

	    				h2 {
	    					margin: 0;
							font-size: 1.1rem;
						    color: white;
						    background: rgba(69, 201, 245, 0.89);
						    padding: 5px 10px;
						    text-align: left;
    						z-index: 2;
    						position: relative;
    						border-bottom: 2px solid rgba(255, 255, 255, 0.69);
    						left: -5px;
    						@media screen and (max-width: 320px) {
								& {font-size: 1rem;}
							}

							&:before {
								content: " ";
							    position: absolute;
							    bottom: 0;
							    left: 0;
							    background: rgba(2, 60, 80, 0.53);;
							    transition: all .6s ease-in-out;
							    width: 0;
							    height: 100%;
							    
							    z-index: -1;
							}
						}

					.field-name-field-pictute  {
						width: 100%;
				    	margin: 0;
				    	margin: 0 auto;
				    	text-align: center;	

				    	&:hover {

				    	}


			    		.field-item {

			    		
			    			img {
					 			z-index: 2 !important;
	   				 			position: relative;
					    		width: 100%;
					 		} 

			    		}
				 
					}
			}

			.group-team-details-wrapper {
				
				color: color(text);
				font-weight: normal;
				width: 100%;
				

					.field-name-field-position {
						text-align: center;
						width: 100%;
						line-height: 1.5;
						color: color(title-small);
					}

					.field-name-body {
						width: 100%;
						text-align: center;
						/* display: none; */
							p {
								font-size: 0.875rem;
								margin: 0;

							}
					}

			}

			.field-name-field-technology {
					font-size: 15px;
    				font-weight: 500;
					padding: 5px 5px 0;
				    background: white;
				    border-bottom: 1px solid #dcdada;
				    border-top: 1px solid #dcdada;
				    margin: 0 -10px -10px;
					    
					.field-items {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-around;

							.field-item {
								padding: 0 5px;
								text-align: center;
							}
					}
					
			}

			

	}


	


}

#contentcontactus {
	
	padding: 100px 0;

	background: rgba(247, 243, 243, 0.6);
	background-image: url('../images-source/portfolio/portfolio-bg-blue-greyscale-blur.jpg');
	background-repeat: 	no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 0;

    background: #023c50;


	h2.single-page-title {
		text-align: center;
		color: #ffffff;
	}

	.node-webform {
		padding: 30px 0;

		form {
			position: relative;
    		/* background: yellow; */
    		
    		


    		fieldset {
    			padding: 10px 5px;
    			width: 49%;
    			min-width: 1px;
				border: none;
				margin: 0;
				transition: all .6s ease-in-out;

				@media screen and (max-width: 991px) {
					width: 75%;
					margin: 0 auto !important;
					float: none !important;
				}

				@media screen and (max-width: 767px) {
					width: 100%;
					
				}
					.contact-input-field {
						&:after {
						    	content: " ";
							    position: absolute;
							    height: 36px;
							    /* border: 1px solid red; */
							    width: 30px;
							    background: rgba(62, 155, 186, 0.86);
							    -webkit-transform: skewY(-23deg);
							    -ms-transform: skewY(-23deg);
							    transform: skewY(-23deg);
							    -webkit-transform-origin: center;
							    -ms-transform-origin: center;
							    transform-origin: center;
							    top: 2px;
							    left: -8px;
							    @media screen and (max-width: 450px) {
							    	top: -3px;
							    	height: 22px;
							    }
						} 

					}

					div.form-item {
						margin: 0 !important;
						margin-bottom: 18px !important;
						position: relative;
						
						
			    
						label {
							font-weight: normal;
						    color: white;
						    background: rgba(69, 201, 245, 0.89);
						    width: 25%;
						    padding: 2px 5px 0;
						    position: absolute;
						    top: 8px;
						    left: -8px;
						    line-height: 31px;
						    z-index: 3;
						    text-align: right;
						    min-width: 115px;
						    border-bottom: 3px solid rgba(255, 255, 255, 0.69);

						    @media screen and (max-width: 450px) {
						    	min-width: none;
						    	line-height: 22px;
						    	top: 4px;
						    }

						    	.form-required{
						    		    float: left;
									    background: rgba(255, 255, 255, 0.69);
									    color: rgba(0, 26, 35, 0.8);
									    line-height: normal;
									    position: absolute;
									    top: 0;
    									left: 100%;
						    	}
						} 
						
						input {
							background: rgb(255, 255, 255);
							position: relative;
							z-index: 2;
							line-height: 48px;
    						border: 1px solid #BCBCBB;
    						@media screen and (max-width: 450px) {
    							line-height: normal;
    							padding-top: 35px;
    							padding-bottom: 10px;
    						}
						}
					}

    		}

			.webform-component--info-group {
				/* background: #e7a520; */
				float: left;
				margin-right: 5px;
				
			}

			.webform-component--message-group {
				/* background: #89ca89; */
				
				
				float: right;

					.fieldset-wrapper {
						
						.form-item {
							&:after {
						    	content: " ";
							    position: absolute;
							    height: 36px;
							    width: 30px;
							    background: rgba(62, 155, 186, 0.86);
							    -webkit-transform: skewY(-23deg);
							    -ms-transform: skewY(-23deg);
							    transform: skewY(-23deg);
							    -webkit-transform-origin: center;
							    -ms-transform-origin: center;
							    transform-origin: center;
							    top: 2px;
							    left: -8px;
							    z-index: 1;

							    @media screen and (max-width: 450px)  {
							    	height: 22px;
							    	top: -3px;
							    }
							} 
						}
					}
			}














			

			.webform-component-textarea {
			        
			}

			.form-textarea-wrapper {
				& * {

				}
				textarea {
					padding-top: 45px;
					background: #ffffff;
					z-index: 2;
					position: relative;
					border: 1px solid #BCBCBB;
				}
			}


			.form-actions {
				float: right;
			    /* left: 50%; */
			    margin-right: 40%;
			    position: relative;
			    width: 20%;
			    margin-top: 31px;
			    transition: all .6s ease-in-out;
			    @media screen and (max-width: 991px) {
			    	 width: 30%;
			    	 margin-right: 35%;
			    }

			    @media screen and (max-width: 767px) {
					width: 50%;
					margin-right: 25%;
				}

				@media screen and (max-width: 450px) {
					width: 90%;
					margin-right: 5%;	
				}
			    	&:hover {
			    		background: grey;	
			    	}

					&:after {
				    	content: " ";
					    position: absolute;
					    height: 36px;
					    /* border: 1px solid red; */
					    width: 30px;
					    background: rgba(62, 155, 186, 0.86);
					    transform: skewY(-23deg);
					    transform-origin: center;
					    top: -5px;
					    left: 0;
					   	
					} 

					&:before {
						content: " ";
					    position: absolute;
					    height: 36px;
					    /* border: 1px solid red; */
					    width: 30px;
					    background: rgba(62, 155, 186, 0.86);
					    transform: skewY(23deg);
					    top: -5px;
					    right: 0;
					    transform-origin: center;

					}

					input {
						font-weight: normal;
					    color: white;
					    background: rgba(69, 201, 245, 0.89);
					    width: 100%;
					    padding: 0 5px;
					    position: relative;
					    bottom: 0;
					    right: 0;
					    line-height: 31px;
					    z-index: 3;
					    text-align: right;
					    min-width: 115px;
					    border: 3px solid rgba(255, 255, 255, 0.69);
					    text-align: center;
					    font-weight: bold;
					}
			}
		}
	}



}

