

/* Efekat rotacija na Portfolio view elemenata */


div#portfolioview .views-row:hover {
		.node-portfolio {
			transform: rotateY(180deg);
			z-index: 1000;
		}
}




/* Efekti na headeru  */


	
	
	 

	.dropDown-mobile-navbar {
		width: 100% !important;

		ul {

			text-align: center;
			height: auto !important; 
	

		}
		

			
	}







/* Language switcher effects */

.otpadnik {

    position: relative;
    padding: 0 10px;
    top: 3px;
    right: 0;

	    li {
			float: none;
		    margin: 5px;
		    margin: 0 !important;
		    padding: 0 !important;
		    border-top: 1px solid #ffffff;


		    a.session-active {
		    	color: #45c9f5;
		    	border: none !important;

		    }
	    }

	    li:first-child {
	    	border: none;
	    }

	@media screen and  (max-width: 500px){
		& {
			position: absolute;
			top: auto;
			bottom: 0;
		}
	}
}

/* Temaview person h2 before element:hover */

/*
#teamview {
	.group-team-picture-title-wrapper {
		h2:hover{
			&:before{
				width: 100%;

			}
		}
	}
}

*/
