@charset "UTF-8";
@font-face {
  font-family: 'Conv_Mellnik-Cond-Light-Regular_30088';
  src: url("../fonts/Mellnik-Cond-Light-Regular/Mellnik-Cond-Light-Regular_30088.eot");
  src: url("../fonts/Mellnik-Cond-Light-Regular/Mellnik-Cond-Light-Regular_30088.woff") format("woff"), url("../fonts/Mellnik-Cond-Light-Regular/Mellnik-Cond-Light-Regular_30088.ttf") format("truetype"), url("../fonts/Mellnik-Cond-Light-Regular/Mellnik-Cond-Light-Regular_30088.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Geometria-Light';
  src: url("../fonts/geometria-light/Geometria-Light.eot");
  src: local("☺"), url("../fonts/geometria-light/Geometria-Light.woff") format("woff"), url("../fonts/geometria-light/Geometria-Light.ttf") format("truetype"), url("../fonts/geometria-light/Geometria-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ocrb10';
  src: url("../fonts/ocrb10/ocrb10pitchbt-regular-opentype.eot");
  src: local("☺"), url("../fonts/ocrb10/ocrb10pitchbt-regular-opentype.woff") format("woff"), url("../fonts/ocrb10/ocrb10pitchbt-regular-opentype.ttf") format("truetype"), url("../fonts/ocrb10/ocrb10pitchbt-regular-opentype.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.6875em;
  font-family: Ocrb10, Impact, "Arial Narrow", Helvetica, sans-serif;
  letter-spacing: 0.03125em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  height: 100%;
}

@media print {
  html {
    font-size: 12pt;
  }
}

body {
  margin: 0;
  padding: 0 !important;
  color: #000;
  background-color: #ffffff;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

template {
  display: none;
}

:link {
  color: #fff;
}

:visited {
  color: #cccccc;
}

a:hover,
a:focus {
  color: #45C9F5;
}

a:active {
  color: #c00;
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

@media print {
  :link,
  :visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
  }
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
}

h1,
.header__site-name {
  font-size: 2rem;
  line-height: 4.21875rem;
  font-family: "Conv_Geometria-Light", Impact, "Arial Narrow", Helvetica, sans-serif;
  letter-spacing: 0.03125em;
  margin-top: 1.6875rem;
  margin-bottom: 1.6875rem;
}

h2 {
  font-family: "Conv_Geometria-Light", Impact, "Arial Narrow", Helvetica, sans-serif;
  letter-spacing: 0.03125em;
  font-size: 1.5rem;
  line-height: 2.53125rem;
  margin-top: 1.6875rem;
  margin-bottom: 1.6875rem;
}

h3 {
  font-family: "Conv_Geometria-Light", Impact, "Arial Narrow", Helvetica, sans-serif;
  letter-spacing: 0.03125em;
  font-size: 1.25rem;
  line-height: 2.53125rem;
  margin-top: 1.6875rem;
  margin-bottom: 1.6875rem;
}

h4 {
  font-family: "Conv_Geometria-Light", Impact, "Arial Narrow", Helvetica, sans-serif;
  letter-spacing: 0.03125em;
  font-size: 1rem;
  line-height: 1.6875rem;
  margin-top: 1.6875rem;
  margin-bottom: 1.6875rem;
}

h5 {
  font-family: "Conv_Geometria-Light", Impact, "Arial Narrow", Helvetica, sans-serif;
  letter-spacing: 0.03125em;
  font-size: 0.875rem;
  line-height: 1.6875rem;
  margin-top: 1.6875rem;
  margin-bottom: 1.6875rem;
}

h6 {
  font-family: "Conv_Geometria-Light", Impact, "Arial Narrow", Helvetica, sans-serif;
  letter-spacing: 0.03125em;
  font-size: 0.625rem;
  line-height: 1.6875rem;
  margin-top: 1.6875rem;
  margin-bottom: 1.6875rem;
}

.heading {
  font-size: 3rem;
  line-height: 4.21875rem;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 2.625rem;
    line-height: 3.375rem;
    font-size: 36px;
  }
}

abbr[title] {
  border-bottom: 1px dotted;
}

@media print {
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #fd0;
  color: #000;
}

q {
  letter-spacing: 0.03rem;
}

small {
  font-size: 0.875rem;
}

sub,
sup {
  font-size: 0.625rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

.divider,
hr {
  margin: 1.6875rem 0;
  border: 0;
  border-top: 1px solid #cccccc;
}

.divider > :first-child, hr > :first-child {
  margin-top: 1.6875rem;
}

dl,
menu,
ol,
ul {
  margin: 1.6875rem 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

dd {
  margin: 0 0 0 32px;
}

[dir='rtl'] dd {
  margin: 0 32px 0 0;
}

menu,
ol,
ul {
  padding: 0 0 0 32px;
}

[dir='rtl'] menu, [dir='rtl']
ol, [dir='rtl']
ul {
  padding: 0 32px 0 0;
}

blockquote {
  margin: 1.6875rem 2rem;
}

figure {
  margin: 1.6875rem 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

p,
pre {
  margin: 1.6875rem 0;
  font-family: "Conv_Geometria-Light", Impact, "Arial Narrow", Helvetica, sans-serif;
}

code,
kbd,
samp,
var, pre {
  font-family: Menlo, "DejaVu Sans Mono", "Ubuntu Mono", Courier, "Courier New", monospace, sans-serif;
  font-size: 1em;
}

pre {
  overflow: auto;
}

img {
  border: 0;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

.button,
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -moz-appearance: button;
  -webkit-appearance: button;
  display: inline-block;
  padding: 2px 6px;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.button:hover, .button:focus, .button:active,
button:hover,
[type='button']:hover,
[type='reset']:hover,
[type='submit']:hover,
button:focus,
[type='button']:focus,
[type='reset']:focus,
[type='submit']:focus,
button:active,
[type='button']:active,
[type='reset']:active,
[type='submit']:active {
  text-decoration: none;
  color: #000;
}

.button[disabled],
button[disabled],
[disabled][type='button'],
[disabled][type='reset'],
[disabled][type='submit'] {
  cursor: default;
  color: #999999;
}

.button[disabled]:hover, .button[disabled]:focus, .button[disabled]:active,
button[disabled]:hover,
[disabled][type='button']:hover,
[disabled][type='reset']:hover,
[disabled][type='submit']:hover,
button[disabled]:focus,
[disabled][type='button']:focus,
[disabled][type='reset']:focus,
[disabled][type='submit']:focus,
button[disabled]:active,
[disabled][type='button']:active,
[disabled][type='reset']:active,
[disabled][type='submit']:active {
  color: #999999;
}

button,
input,
optgroup,
select,
textarea {
  box-sizing: border-box;
  max-width: 100%;
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html input[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type='text'], input[type='search'], input[type='tel'], input[type='url'], input[type='email'], input[type='password'], input[type='date'], input[type='time'], input[type='number'], textarea {
  line-height: inherit;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

fieldset {
  padding: 0.59062rem 1.05469rem 1.09688rem;
  border: 1px solid #cccccc;
  margin: 0 2px;
}

legend {
  border: 0;
  margin-left: -5px;
  padding: 0 5px;
}

label {
  display: block;
  font-weight: bold;
}

optgroup {
  font-weight: bold;
}

textarea {
  overflow: auto;
}

table {
  margin: 1.6875rem 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td,
th {
  padding: 0;
}

.layout-3col {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 0;
  padding-right: 0;
}

.layout-3col:before {
  content: "";
  display: table;
}

.layout-3col:after {
  content: "";
  display: table;
  clear: both;
}

.layout-3col__full, .layout-3col__left-content, .layout-3col__right-content, .layout-3col__left-sidebar, .layout-3col__right-sidebar, .layout-3col__first-left-sidebar, .layout-3col__second-left-sidebar, .layout-3col__col-1, .layout-3col__col-2, .layout-3col__col-3, .layout-3col__col-4, .layout-3col__col-x {
  clear: both;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
}

[dir="rtl"] .layout-3col__full, [dir="rtl"] .layout-3col__left-content, [dir="rtl"] .layout-3col__right-content, [dir="rtl"] .layout-3col__left-sidebar, [dir="rtl"] .layout-3col__right-sidebar, [dir="rtl"] .layout-3col__first-left-sidebar, [dir="rtl"] .layout-3col__second-left-sidebar, [dir="rtl"] .layout-3col__col-1, [dir="rtl"] .layout-3col__col-2, [dir="rtl"] .layout-3col__col-3, [dir="rtl"] .layout-3col__col-4, [dir="rtl"] .layout-3col__col-x {
  float: right;
  margin-right: 0%;
  margin-left: -100%;
}

@media (min-width: 777px) {
  .layout-3col {
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 0;
    padding-right: 0;
  }
  .layout-3col:before {
    content: "";
    display: table;
  }
  .layout-3col:after {
    content: "";
    display: table;
    clear: both;
  }
  .layout-3col__full, .layout-3col__left-content, .layout-3col__right-content, .layout-3col__left-sidebar, .layout-3col__right-sidebar {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  [dir="rtl"] .layout-3col__full, [dir="rtl"] .layout-3col__left-content, [dir="rtl"] .layout-3col__right-content, [dir="rtl"] .layout-3col__left-sidebar, [dir="rtl"] .layout-3col__right-sidebar {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
  .layout-3col__first-left-sidebar, .layout-3col__col-1, .layout-3col__col-3, .layout-3col__col-x:nth-child(2n + 1) {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  [dir="rtl"] .layout-3col__first-left-sidebar, [dir="rtl"] .layout-3col__col-1, [dir="rtl"] .layout-3col__col-3, [dir="rtl"] .layout-3col__col-x:nth-child(2n + 1) {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
  .layout-3col__second-left-sidebar, .layout-3col__col-2, .layout-3col__col-4, .layout-3col__col-x:nth-child(2n) {
    clear: none;
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  [dir="rtl"] .layout-3col__second-left-sidebar, [dir="rtl"] .layout-3col__col-2, [dir="rtl"] .layout-3col__col-4, [dir="rtl"] .layout-3col__col-x:nth-child(2n) {
    float: right;
    margin-right: 50%;
    margin-left: -100%;
  }
}

@media (min-width: 999px) {
  .layout-3col__full {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
  [dir="rtl"] .layout-3col__full {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
  .layout-3col__left-content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -100%;
  }
  [dir="rtl"] .layout-3col__left-content {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
  .layout-3col__right-content {
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }
  [dir="rtl"] .layout-3col__right-content {
    float: right;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
  .layout-3col__left-sidebar, .layout-3col__first-left-sidebar, .layout-3col__second-left-sidebar {
    clear: right;
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }
  [dir="rtl"] .layout-3col__left-sidebar, [dir="rtl"] .layout-3col__first-left-sidebar, [dir="rtl"] .layout-3col__second-left-sidebar {
    clear: left;
  }
  [dir="rtl"] .layout-3col__left-sidebar, [dir="rtl"] .layout-3col__first-left-sidebar, [dir="rtl"] .layout-3col__second-left-sidebar {
    float: left;
    margin-left: 66.66667%;
    margin-right: -100%;
  }
  .layout-3col__right-sidebar {
    clear: right;
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -100%;
  }
  [dir="rtl"] .layout-3col__right-sidebar {
    clear: left;
  }
  [dir="rtl"] .layout-3col__right-sidebar {
    float: left;
    margin-left: 0%;
    margin-right: -100%;
  }
  .layout-3col__col-1, .layout-3col__col-x:nth-child(3n+1) {
    clear: both;
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -100%;
  }
  [dir="rtl"] .layout-3col__col-1, [dir="rtl"] .layout-3col__col-x:nth-child(3n+1) {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
  .layout-3col__col-2, .layout-3col__col-x:nth-child(3n+2) {
    clear: none;
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }
  [dir="rtl"] .layout-3col__col-2, [dir="rtl"] .layout-3col__col-x:nth-child(3n+2) {
    float: right;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
  .layout-3col__col-3, .layout-3col__col-x:nth-child(3n) {
    clear: none;
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }
  [dir="rtl"] .layout-3col__col-3, [dir="rtl"] .layout-3col__col-x:nth-child(3n) {
    float: right;
    margin-right: 66.66667%;
    margin-left: -100%;
  }
  .layout-3col__col-4 {
    display: none;
  }
}

.layout-3col__grid-item-container {
  padding-left: 0;
  padding-right: 0;
}

.layout-3col__grid-item-container:before {
  content: "";
  display: table;
}

.layout-3col__grid-item-container:after {
  content: "";
  display: table;
  clear: both;
}

.layout-center {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

@media (min-width: 777px) {
  .layout-center {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.layout-center--shared-grid,
.layout-center.layout-3col {
  padding-left: 0;
  padding-right: 0;
}

.layout-swap {
  position: relative;
}

@media (min-width: 555px) {
  .layout-swap {
    padding-top: 54px;
  }
}

@media (min-width: 555px) {
  .layout-swap__top {
    position: absolute;
    top: 0;
    height: 54px;
    width: 100%;
  }
}

.autocomplete,
.form-autocomplete {
  background-image: url(../sass/components/autocomplete/throbber-inactive.png);
  background-position: 100% center;
  background-repeat: no-repeat;
}

[dir='rtl'] .autocomplete,
[dir='rtl'] .form-autocomplete {
  background-position: 0% center;
}

.autocomplete__list-wrapper,
#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

.autocomplete__list,
#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.autocomplete__list-item,
#autocomplete li {
  background: #ffffff;
  color: #000;
  cursor: default;
  white-space: pre;
}

.autocomplete__list-item.is-selected, .autocomplete__list-item--is-selected,
#autocomplete li.is-selected,
#autocomplete .selected {
  background: #0072b9;
  color: #fff;
}

.autocomplete.is-throbbing, .autocomplete--is-throbbing,
.is-throbbing.form-autocomplete,
.form-autocomplete.throbbing {
  background-image: url(../sass/components/autocomplete/throbber-active.gif);
}

.box {
  margin-bottom: 1.6875rem;
  border: 5px solid #cccccc;
  padding: 1em;
}

.box__title {
  margin: 0;
}

.box:focus, .box:hover, .box.is-focus, .box--is-focus {
  border-color: #000;
}

.box--highlight {
  border-color: #fff;
}

.visually-hidden,
.visually-hidden--focusable,
.element-focusable,
.element-invisible,
.breadcrumb__title,
.main-navigation .block-menu .block__title,
.main-navigation .block-menu-block .block__title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal;
}

.visually-hidden--off,
.visually-hidden--focusable:active,
.visually-hidden--focusable:focus,
.element-focusable:active,
.element-focusable:focus {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: visible;
}

@media print {
  .breadcrumb {
    display: none;
  }
}

.breadcrumb__list {
  margin: 0;
  padding: 0;
}

.breadcrumb__item {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.clearfix:before,
.header:before,
.tabs:before {
  content: '';
  display: table;
}

.clearfix:after,
.header:after,
.tabs:after {
  content: '';
  display: table;
  clear: both;
}

.collapsible-fieldset,
.collapsible {
  position: relative;
}

.collapsible-fieldset__legend,
.collapsible .fieldset-legend {
  display: block;
  padding-left: 15px;
  background-image: url(../sass/components/collapsible-fieldset/expanded.svg);
  background-position: 4px 50%;
  background-repeat: no-repeat;
}

[dir='rtl'] .collapsible-fieldset__legend,
[dir='rtl'] .collapsible .fieldset-legend,
.collapsible [dir='rtl'] .fieldset-legend {
  padding-left: 0;
  padding-right: 15px;
  background-position: right 4px top 50%;
}

.collapsible-fieldset__summary,
.collapsible .fieldset-legend .summary {
  color: #999999;
  font-size: .9em;
  margin-left: .5em;
}

.collapsible-fieldset.is-collapsed, .collapsible-fieldset--is-collapsed,
.is-collapsed.collapsible,
.collapsible.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
}

.collapsible-fieldset.is-collapsed .collapsible-fieldset__wrapper, .collapsible-fieldset--is-collapsed__wrapper, .is-collapsed.collapsible .collapsible-fieldset__wrapper,
.collapsible.collapsed .fieldset-wrapper {
  display: none;
}

.collapsible-fieldset.is-collapsed .collapsible-fieldset__legend, .collapsible-fieldset--is-collapsed__legend, .is-collapsed.collapsible .collapsible-fieldset__legend,
.collapsible.collapsed .fieldset-legend,
.collapsible-fieldset.is-collapsed .collapsible .fieldset-legend,
.collapsible .collapsible-fieldset.is-collapsed .fieldset-legend,
.is-collapsed.collapsible .fieldset-legend {
  background-image: url(../sass/components/collapsible-fieldset/collapsed.svg);
  background-position: 4px 50%;
}

[dir='rtl'] .collapsible-fieldset.is-collapsed .collapsible-fieldset__legend, [dir='rtl'] .collapsible-fieldset--is-collapsed__legend, [dir='rtl'] .is-collapsed.collapsible .collapsible-fieldset__legend,
[dir='rtl'] .collapsible.collapsed .fieldset-legend,
.collapsible.collapsed [dir='rtl'] .fieldset-legend,
[dir='rtl'] .collapsible-fieldset.is-collapsed .collapsible .fieldset-legend,
.collapsible [dir='rtl'] .collapsible-fieldset.is-collapsed .fieldset-legend,
[dir='rtl'] .is-collapsed.collapsible .fieldset-legend {
  background-image: url(../sass/components/collapsible-fieldset/collapsed-rtl.svg);
  background-position: right 4px top 50%;
}

.comment__section,
.comments {
  margin: 1.6875rem 0;
}

.comment__title {
  margin: 0;
}

.comment__permalink {
  text-transform: uppercase;
  font-size: 75%;
}

.comment--preview,
.comment-preview {
  background-color: #fffadb;
}

.comment--nested,
.indented {
  margin-left: 32px;
}

[dir='rtl'] .comment--nested,
[dir='rtl'] .indented {
  margin-left: 0;
  margin-right: 32px;
}

.form-item {
  margin: 1.6875rem 0;
}

.form-item__required,
.form-required {
  color: #c00;
}

.form-item__description,
.form-item .description {
  font-size: 0.875rem;
}

.form-item--inline div,
.form-item--inline label, .container-inline .form-item div, .container-inline .form-item label {
  display: inline;
}

.form-item--inline__exception,
.container-inline .fieldset-wrapper {
  display: block;
}

.form-item--tight,
.form-item--radio,
.form-type-radio,
.form-type-checkbox,
.password-parent,
.confirm-parent,
table .form-item {
  margin: 0;
}

.form-item--radio .form-item__label, .form-item--radio__label, .form-type-radio .form-item__label,
.form-type-checkbox .form-item__label,
label.option {
  display: inline;
  font-weight: normal;
}

.form-item--radio .form-item__description, .form-item--radio__description, .form-type-radio .form-item__description,
.form-type-checkbox .form-item__description,
.form-type-radio .description,
.form-type-checkbox .description,
.form-item--radio .form-item .description,
.form-item .form-item--radio .description,
.form-type-radio .form-item .description,
.form-item .form-type-radio .description,
.form-type-checkbox .form-item .description,
.form-item
.form-type-checkbox .description {
  margin-left: 1.4em;
}

.form-item.is-error .form-item__widget, .form-item--is-error__widget,
.form-item.is-error input,
.form-item.is-error textarea,
.form-item.is-error select,
.form-item--is-error input,
.form-item--is-error textarea,
.form-item--is-error select,
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #c00;
}

.form-table__sticky-header,
.sticky-header {
  position: fixed;
  visibility: hidden;
  margin-top: 0;
  background-color: #ffffff;
}

.form-table__sticky-header.is-sticky, .form-table__sticky-header--is-sticky,
.is-sticky.sticky-header {
  visibility: visible;
}

.form-table__header,
.form-table th,
form table th {
  border-bottom: 3px solid #cccccc;
  padding-right: 1em;
  text-align: left;
}

[dir='rtl'] .form-table__header,
[dir='rtl'] .form-table th,
.form-table [dir='rtl'] th,
[dir='rtl'] form table th,
form table [dir='rtl'] th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}

.form-table__body,
.form-table tbody,
form table tbody {
  border-top: 1px solid #cccccc;
}

.form-table__row,
.form-table tbody tr,
form table tbody tr {
  padding: .1em .6em;
  border-bottom: 1px solid #cccccc;
  background-color: #eeeeee;
}

.form-table__row:nth-child(even),
.form-table tbody tr:nth-child(even),
form table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.form-table__row.is-active, .form-table__row--is-active,
.form-table tbody tr.is-active,
form table tbody tr.is-active,
td.active {
  background-color: #dddddd;
}

.form-table__row.is-disabled, .form-table__row--is-disabled,
.form-table tbody tr.is-disabled,
form table tbody tr.is-disabled,
td.menu-disabled {
  background: #cccccc;
}

.form-table__row.is-selected, .form-table__row--is-selected,
.form-table tbody tr.is-selected,
form table tbody tr.is-selected,
tr.selected td {
  background: #fffdf0;
}

.form-table__list,
.form-table ul,
form table ul {
  margin: 0;
}

.form-table__narrow-column,
.form-table th.form-table__narrow-column,
form table th.form-table__narrow-column,
td .checkbox,
th .checkbox {
  width: -moz-min-content;
  width: -webkit-min-content;
  text-align: center;
}

.header {
  background-image: url("../images-source/in use/proba-gears-photo-header-croped-colored-opacity0.8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background: #023C50;
  border: 5px solid #ffffff;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.header .layout-nav {
  overflow: hidden;
}

.header .layout-nav .layout-center {
  padding: 15px 10px;
}

.header .layout-center {
  display: block;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header .main-heading {
  /* ovo je layout-center u kome je glavni h1 na frontpage-u */
  height: 100%;
  padding-top: 25%;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.header .language-switcher-locale-session {
  margin: 0;
  float: right;
}

.header .language-switcher-locale-session a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 15px;
  display: block;
}

.header .language-switcher-locale-session a.session-active {
  border-bottom: 1px solid #ffffff;
}

.header .language-switcher-locale-session li {
  list-style: none;
  margin-left: 15px;
  padding: 15px 0;
}

.header__logo {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
}

[dir='rtl'] .header__logo {
  float: right;
  margin: 0 0 0 10px;
}

.header__logo-image {
  vertical-align: bottom;
  float: left;
  border-right: 1px solid #ffffff;
  padding-right: 10px;
  padding-top: 10px;
}

.header .logo-pic {
  width: 235px;
  float: left;
  /* margin-right: 10px; */
}

.header__name-and-slogan {
  float: left;
}

.header__site-name {
  margin: 0;
  color: #45C9F5;
  line-height: 2rem;
  margin-bottom: 4px;
}

.header__site-link:link, .header__site-link:visited {
  color: #000;
  text-decoration: none;
}

.header__site-link:hover, .header__site-link:focus {
  text-decoration: underline;
}

.header__site-slogan {
  margin: 0;
  color: #ffffff;
  padding: 16px 0;
  padding-left: 10px;
}

.header__secondary-menu {
  float: right;
}

[dir='rtl'] .header__secondary-menu {
  float: left;
}

.header__region li {
  float: right;
}

@media screen and (max-width: 991px) {
  .header .main-heading {
    padding-top: 25%;
  }
}

@media screen and (max-width: 767px) {
  .header .layout-nav .layout-center {
    display: -webkit-box;
    display: flex;
    /* border: 1px solid red;  */
    -webkit-box-pack: start;
            justify-content: flex-start;
  }
  .header .layout-nav .layout-center .logo-pic {
    min-width: 200px;
  }
  .header .layout-nav .layout-center .logo-pic img {
    padding-bottom: 5px;
  }
  .header .layout-nav .layout-center .header__name-and-slogan {
    /* border: 1px solid red; */
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    float: left;
  }
  .header .layout-nav .layout-center .header__name-and-slogan .header__site-slogan {
    padding: 0 10px;
    line-height: 1.2rem;
  }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  .header .main-heading {
    padding-top: 12%;
  }
}

@media screen and (max-width: 650px) {
  .header .main-heading {
    padding-top: 35%;
  }
}

@media screen and (max-width: 650px) and (orientation: landscape) {
  .header .main-heading {
    padding-top: 6%;
  }
  .header .main-heading h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 550px) {
  .header .main-heading {
    padding-top: 45%;
  }
  .header .main-heading h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .header .layout-nav .layout-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .header .layout-nav .layout-center img.header__logo-image {
    border: none;
    padding-bottom: 0;
  }
  .header .layout-nav .layout-center .header__name-and-slogan .header__site-slogan {
    padding: 10px 0 0 0;
  }
}

.hidden,
html.js .js-hidden,
html.js .element-hidden,
html.js .js-hide {
  display: none;
}

.highlight-mark,
.new,
.update {
  color: #c00;
  background-color: transparent;
}

.inline-links,
.inline.links {
  padding: 0;
}

.inline-links__item,
.inline.links li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
}

[dir='rtl'] .inline-links__item,
[dir='rtl'] .inline.links li,
.inline.links [dir='rtl'] li {
  display: inline-block;
  padding: 0 0 0 1em;
}

.inline-sibling,
.field-label-inline .field-label,
span.field-label {
  display: inline;
  margin-right: 10px;
}

[dir='rtl'] .inline-sibling,
[dir='rtl'] .field-label-inline .field-label,
.field-label-inline [dir='rtl'] .field-label,
[dir='rtl'] span.field-label {
  margin-right: 0;
  margin-left: 10px;
}

.inline-sibling__child,
.inline-sibling *, .field-label-inline .field-label *, span.field-label * {
  display: inline;
}

.inline-sibling__adjacent,
.inline-sibling + *,
.inline-sibling + * > :first-child,
.inline-sibling + * > :first-child > :first-child, .field-label-inline .field-label + *, span.field-label + *, .field-label-inline .field-label + * > :first-child, span.field-label + * > :first-child, .field-label-inline .field-label + * > :first-child > :first-child, span.field-label + * > :first-child > :first-child {
  display: inline;
}

.field-label-inline .field-label,
.field-label-inline .field-items {
  float: none;
}

.messages,
.messages--status {
  margin: 1.6875rem 0;
  position: relative;
  padding: 10px 10px 10px 44px;
  border: 1px solid #0072b9;
}

[dir='rtl'] .messages,
[dir='rtl'] .messages--status {
  padding: 10px 44px 10px 10px;
  background-position: 99% 8px;
}

.messages__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  height: 24px;
  width: 24px;
  margin-top: -12px;
  line-height: 1;
}

[dir='rtl'] .messages__icon {
  left: auto;
  right: 0;
}

.messages__icon path {
  fill: #0072b9;
}

.messages__highlight,
.messages--error .error,
.messages.error .error {
  color: #000;
}

.messages__list {
  margin: 0;
}

.messages__item {
  list-style-image: none;
}

.messages--ok-color,
.messages,
.messages--status,
.ok,
.revision-current {
  background-color: #f6fcff;
  color: #0072b9;
}

.messages--warning-color,
.messages--warning,
.messages.warning,
.warning {
  background-color: #fffce6;
  color: #000;
}

.messages--error-color,
.messages--error,
.messages.error,
.error {
  background-color: #fff0f0;
  color: #c00;
}

.messages--warning,
.messages.warning {
  border-color: #fd0;
}

.messages--warning path, .messages.warning path {
  fill: #fd0;
}

.messages--error,
.messages.error {
  border-color: #c00;
}

.messages--error path, .messages.error path {
  fill: #c00;
}

.more-link,
.more-help-link {
  text-align: right;
}

[dir='rtl'] .more-link,
[dir='rtl'] .more-help-link {
  text-align: left;
}

.more-link__help-icon,
.more-help-link a {
  padding: 1px 0 1px 20px;
  background-image: url(../sass/components/more-link/more-link__help-icon.svg);
  background-position: 0 50%;
  background-repeat: no-repeat;
}

[dir='rtl'] .more-link__help-icon,
[dir='rtl'] .more-help-link a,
.more-help-link [dir='rtl'] a {
  padding: 1px 20px 1px 0;
  background-position: 100% 50%;
}

.nav-menu__item,
.menu__item {
  list-style-image: none;
  /* image-url('nav-menu/leaf.svg') */
  list-style-type: none;
  float: left;
}

.nav-menu__item.is-expanded, .nav-menu__item--is-expanded,
.is-expanded.menu__item,
.menu__item.is-expanded {
  list-style-image: url(../sass/components/nav-menu/expanded.svg);
  list-style-type: circle;
}

.nav-menu__item.is-collapsed, .nav-menu__item--is-collapsed,
.is-collapsed.menu__item,
.menu__item.is-collapsed {
  list-style-image: url(../sass/components/nav-menu/collapsed.svg);
  list-style-type: disc;
}

[dir='rtl'] .nav-menu__item.is-collapsed, [dir='rtl'] .nav-menu__item--is-collapsed,
[dir='rtl'] .is-collapsed.menu__item,
[dir='rtl'] .menu__item.is-collapsed {
  list-style-image: url(../sass/components/nav-menu/collapsed-rtl.svg);
}

.nav-menu__link.is-active, .nav-menu__link--is-active,
.menu a.active {
  color: #45C9F5;
}

.navbar,
.main-navigation .links,
.main-navigation .menu {
  margin: 0;
  padding: 0;
  text-align: left;
}

[dir='rtl'] .navbar,
[dir='rtl'] .main-navigation .links,
.main-navigation [dir='rtl'] .links,
[dir='rtl']
.main-navigation .menu,
.main-navigation [dir='rtl'] .menu {
  text-align: right;
}

.navbar__item,
.navbar li, .main-navigation .links li,
.main-navigation .menu li {
  float: left;
  padding: 0 10px 0 0;
  list-style-type: none;
  list-style-image: none;
}

[dir='rtl'] .navbar__item, [dir='rtl']
.navbar li, [dir='rtl'] .main-navigation .links li, .main-navigation [dir='rtl'] .links li, [dir='rtl']
.main-navigation .menu li,
.main-navigation [dir='rtl'] .menu li {
  float: right;
  padding: 0 0 0 10px;
}

.pager {
  clear: both;
  padding: 0;
  text-align: center;
}

@media print {
  .pager {
    display: none;
  }
}

.pager__item,
.pager__current-item,
.pager-current,
.pager-item,
.pager-first,
.pager-previous,
.pager-next,
.pager-last,
.pager-ellipsis {
  display: inline;
  padding: 0 .5em;
  list-style-type: none;
  background-image: none;
}

.pager__current-item,
.pager-current {
  font-weight: bold;
}

@media print {
  .print-none,
  .toolbar,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .feed-icons {
    display: none;
  }
}

.progress-bar,
.progress {
  font-weight: bold;
}

.progress-bar__bar,
.progress .bar {
  border-radius: 3px;
  margin: 0 .2em;
  border: 1px solid #666666;
  background-color: #cccccc;
}

.progress-bar__fill,
.progress .filled {
  height: 1.5em;
  width: 5px;
  background: #0072b9 url(../sass/components/progress-bar/progress-bar.gif) repeat 0 0;
}

.progress-bar__percentage,
.progress .percentage {
  float: right;
}

[dir='rtl'] .progress-bar__percentage,
[dir='rtl'] .progress .percentage,
.progress [dir='rtl'] .percentage {
  float: left;
}

.progress-bar--inline,
.ajax-progress-bar {
  width: 16em;
  display: inline-block;
}

[dir='rtl'] .progress-bar--inline,
[dir='rtl'] .ajax-progress-bar {
  float: right;
}

.progress-throbber,
.ajax-progress {
  display: inline-block;
}

[dir='rtl'] .progress-throbber,
[dir='rtl'] .ajax-progress {
  float: right;
}

.progress-throbber__widget,
.ajax-progress .throbber {
  background: url(../sass/components/progress-throbber/progress-throbber.gif) no-repeat 0 -18px transparent;
  float: left;
  height: 15px;
  margin: 2px;
  width: 15px;
}

[dir='rtl'] .progress-throbber__widget,
[dir='rtl'] .ajax-progress .throbber,
.ajax-progress [dir='rtl'] .throbber {
  float: right;
}

.progress-throbber__widget-in-tr,
tr .ajax-progress .throbber {
  margin: 0 2px;
}

.progress-throbber__message,
.ajax-progress .message {
  padding-left: 20px;
}

.resizable-textarea,
.resizable-textarea textarea {
  width: 100%;
  vertical-align: bottom;
}

.resizable-textarea__grippie,
.resizable-textarea .grippie {
  background: url(../sass/components/resizable-textarea/grippie.png) no-repeat center 2px #eeeeee;
  border: 1px solid #cccccc;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden;
}

.responsive-video,
.media-youtube-video,
.media-vimeo-preview-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.responsive-video__embed,
.responsive-video iframe,
.media-youtube-video iframe,
.media-vimeo-preview-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-video--4-3 {
  padding-bottom: 75%;
}

.skip-link {
  display: block;
  padding: 2px 0 3px;
  text-align: center;
}

.skip-link:link, .skip-link:visited {
  background-color: #666666;
  color: #fff;
}

.skip-link__wrapper {
  margin: 0;
}

@media print {
  .skip-link__wrapper {
    display: none;
  }
}

.table-drag__wrapper,
body.drag {
  cursor: move;
}

.table-drag__item,
tr.drag {
  background-color: #fffadb;
}

.table-drag__item-previous,
tr.drag-previous {
  background-color: #fff7c2;
}

.table-drag__handle,
.tabledrag-handle {
  cursor: move;
  float: left;
  height: 1.7em;
  margin-left: -1em;
  overflow: hidden;
  text-decoration: none;
  font-size: 12px;
}

[dir='rtl'] .table-drag__handle,
[dir='rtl'] .tabledrag-handle {
  float: right;
  margin-right: -1em;
  margin-left: 0;
}

.table-drag__handle:focus, .table-drag__handle:hover,
.tabledrag-handle:focus,
.tabledrag-handle:hover {
  text-decoration: none;
}

.table-drag__handle-icon,
.tabledrag-handle .handle {
  box-sizing: content-box;
  background: url(../sass/components/table-drag/handle-icon.png) no-repeat 6px 9px;
  height: 13px;
  margin: -.4em .5em;
  padding: .42em .5em;
  width: 13px;
}

.table-drag__handle.is-hover .table-drag__handle-icon, .table-drag__handle-icon--is-hover, .is-hover.tabledrag-handle .table-drag__handle-icon,
.tabledrag-handle-hover .handle,
.table-drag__handle.is-hover .tabledrag-handle .handle,
.tabledrag-handle .table-drag__handle.is-hover .handle,
.is-hover.tabledrag-handle .handle {
  background-position: 6px -11px;
}

.table-drag__toggle-weight-wrapper,
.tabledrag-toggle-weight-wrapper {
  text-align: right;
}

[dir='rtl'] .table-drag__toggle-weight-wrapper,
[dir='rtl'] .tabledrag-toggle-weight-wrapper {
  text-align: left;
}

.table-drag__toggle-weight,
.tabledrag-toggle-weight {
  font-size: .9em;
}

.table-drag__indentation,
.indentation {
  float: left;
  height: 1.7em;
  margin: -.4em .2em -.4em -.4em;
  padding: .42em 0 .42em .6em;
  width: 20px;
}

[dir='rtl'] .table-drag__indentation,
[dir='rtl'] .indentation {
  float: right;
  margin: -.4em -.4em -.4em .2em;
  padding: .42em .6em .42em 0;
}

.table-drag__tree-child,
.table-drag__tree-child-last,
.tree-child-last,
.table-drag__tree-child-horizontal,
.tree-child-horizontal,
.tree-child {
  background: url(../sass/components/table-drag/tree-child.png) no-repeat 11px center;
}

[dir='rtl'] .table-drag__tree-child,
[dir='rtl'] .table-drag__tree-child-last,
[dir='rtl'] .tree-child-last,
[dir='rtl'] .table-drag__tree-child-horizontal,
[dir='rtl'] .tree-child-horizontal,
[dir='rtl'] .tree-child {
  background-position: -65px center;
}

.table-drag__tree-child-last,
.tree-child-last {
  background-image: url(../sass/components/table-drag/tree-child-last.png);
}

.table-drag__tree-child-horizontal,
.tree-child-horizontal {
  background-position: -11px center;
}

.tabs {
  margin: 1.26562rem 0 0;
  line-height: 2.10938rem;
  border-bottom: 1px solid #cccccc \0/ie;
  background-image: -webkit-linear-gradient(bottom, #cccccc 1px, transparent 1px);
  background-image: linear-gradient(to top, #cccccc 1px, transparent 1px);
  padding: 0 2px;
  list-style: none;
  white-space: nowrap;
}

@media print {
  .tabs {
    display: none;
  }
}

.tabs__tab {
  float: left;
  margin: 0 3px;
  border: 1px solid #cccccc;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-color: transparent;
  border-bottom: 0 \0/ie;
  overflow: hidden;
  background: #dddddd;
}

[dir='rtl'] .tabs__tab {
  float: right;
}

.tabs__tab.is-active {
  border-bottom-color: #ffffff;
}

.tabs__tab-link {
  padding: 0 1.6875rem;
  display: block;
  text-decoration: none;
  -webkit-transition: color .3s, background .3s, border .3s;
  transition: color .3s, background .3s, border .3s;
  text-shadow: #fff 0 1px 0;
  color: #000;
  background: #dddddd;
  letter-spacing: 1px;
}

.tabs__tab-link:focus, .tabs__tab-link:hover {
  background: #eaeaea;
}

.tabs__tab-link:active, .tabs__tab-link.is-active, .tabs__tab-link--is-active {
  background: #ffffff;
  text-shadow: none;
}

.tabs--off,
.views-displays .secondary {
  margin: 0;
  border-bottom: 0;
  padding: 0;
  background-image: none;
}

.tabs--secondary {
  margin-top: 1.6875rem;
  font-size: 0.875rem;
  background-image: none;
}

.tabs + .tabs--secondary {
  margin-top: 0;
  background-image: -webkit-linear-gradient(bottom, #cccccc 1px, transparent 1px);
  background-image: linear-gradient(to top, #cccccc 1px, transparent 1px);
}

.tabs--secondary .tabs__tab {
  margin: 0.63281rem 0.1875rem;
  border: 0;
  background: transparent;
}

[dir='rtl'] .tabs--secondary .tabs__tab {
  float: right;
}

.tabs--secondary .tabs__tab.is-active {
  border-bottom-color: transparent;
}

.tabs--secondary .tabs__tab-link {
  border: 1px solid #cccccc;
  border-radius: 27px;
  color: #666666;
  background: #f1f1f1;
  letter-spacing: normal;
}

.tabs--secondary .tabs__tab-link:focus, .tabs--secondary .tabs__tab-link:hover {
  color: #333333;
  background: #dddddd;
  border-color: #999999;
}

.tabs--secondary .tabs__tab-link:active, .tabs--secondary .tabs__tab-link.is-active, .tabs--secondary .tabs__tab-link--is-active {
  color: white;
  text-shadow: #333333 0 1px 0;
  background: #666666;
  border-color: black;
}

.watermark {
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  height: 0;
  overflow: visible;
  background-color: transparent;
  color: #eeeeee;
  font-size: 75px;
  line-height: 1;
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.region-navigation {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

@media screen and (max-width: 500px) {
  .region-navigation {
    position: fixed;
    bottom: 0;
  }
}

.region-navigation #block-system-main-menu {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  line-height: 2.53125rem;
}

.region-navigation #block-system-main-menu h2 {
  display: none;
  margin: 0;
}

.region-navigation #block-system-main-menu ul.menu {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.region-navigation #block-system-main-menu ul.menu li {
  padding-left: 2px;
}

.region-navigation #block-system-main-menu ul.menu li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  display: block;
}

@media screen and (max-width: 500px) {
  .region-navigation #block-system-main-menu {
    height: auto;
    width: 100%;
    text-align: left;
    padding: 0 5px;
  }
  .region-navigation #block-system-main-menu h2 {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: block !important;
    position: absolute;
    height: 50px;
    width: 50px;
    top: -49px;
    left: 50%;
    margin-left: -25px !important;
    background: #ffffff;
  }
  .region-navigation #block-system-main-menu h2:after {
    content: " ";
    position: absolute;
    width: 1em;
    height: 0.125em;
    border-top: 0.375em double #023c50;
    border-bottom: 0.125em solid #023c50;
    top: 17px;
    left: 50%;
    margin-left: -12px;
  }
  .region-navigation #block-system-main-menu ul.menu {
    text-align: center;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
            flex-direction: column !important;
    background: #fff;
  }
  .region-navigation #block-system-main-menu ul.menu a {
    color: #023c50;
  }
}

.fade {
  background: rgba(255, 255, 255, 0.95);
}

.fade #block-system-main-menu h2 {
  background: #023c50;
  border: 1px solid white;
  border-bottom: none;
}

.fade #block-system-main-menu h2:after {
  border-top: 0.375em double #ffffff;
  border-bottom: 0.125em solid #ffffff;
}

.fade #block-system-main-menu a {
  color: #023c50;
}

@media screen and (max-width: 500px) {
  .fade #block-system-main-menu {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    padding: 0 5px;
  }
  .fade #block-system-main-menu ul.menu {
    background: #023c50 !important;
    border-top: 1px solid #ffffff;
  }
  .fade #block-system-main-menu ul.menu a {
    color: #ffffff !important;
  }
}

.stickynav-active {
  max-width: none;
}

.stickynav-active ul {
  max-width: 1180px;
}

@media screen and (max-width: 500px) {
  .stickynav-active {
    bottom: 0;
  }
}

body > .layout-3col {
  margin: 0;
  padding: 0;
  background: #ffffff;
  top: 100%;
}

.single-page-wrapper {
  padding: 100px 0;
}

.single-page .single-page-title {
  color: rgba(0, 26, 35, 0.8);
}

div#contentaboutus {
  padding: 100px 0;
}

div#contentaboutus .single-page {
  /* border: 1px solid yellow; */
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

div#contentaboutus .single-page .single-page-title {
  /* border: 1px solid red; */
  width: 25%;
  display: -webkit-box;
  display: flex;
  margin: 0;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  border-right: 1px solid #023c50;
}

div#contentaboutus .single-page article {
  /* border: 1px solid blue; */
  display: -webkit-box;
  display: flex;
  width: 70%;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
}

div#contentaboutus .single-page article p {
  /* border: 1px solid purple; */
  margin: 0;
  text-align: justify;
}

@media screen and (max-width: 767px) {
  div#contentaboutus .single-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 0 !important;
  }
  div#contentaboutus .single-page h2.single-page-title {
    width: 100%;
    -webkit-box-pack: center;
            justify-content: center;
    border: none;
    font-family: "Conv_Geometria-Light", Impact, "Arial Narrow", Helvetica, sans-serif;
    letter-spacing: 0.03125em;
    font-size: 1.5rem;
    line-height: 2.53125rem;
    margin-top: 1.6875rem;
    margin-bottom: 1.6875rem;
  }
  div#contentaboutus .single-page article {
    width: 100%;
    padding: 20px 0;
    display: block;
  }
  div#contentaboutus .single-page article .field-name-body {
    width: 100%;
  }
}

div#portfolioview {
  background: #00161e;
  overflow: hidden;
  position: relative;
  background-image: url("../images-source/portfolio/portfolio-bg-blue-greyscale-blur.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0;
}

div#portfolioview .single-page .single-page-title {
  text-align: center;
}

div#portfolioview .single-page .view-portfolio-view .views-exposed-widget > label {
  font-weight: normal;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

div#portfolioview .single-page .view-portfolio-view .view-filters {
  border-top: 1px solid #fff;
  padding: 10px 0;
  text-align: center;
}

div#portfolioview .single-page .view-portfolio-view .view-filters .views-exposed-widgets {
  margin-bottom: 0;
}

div#portfolioview .single-page .view-portfolio-view .view-filters .description {
  display: none;
}

div#portfolioview .single-page .view-portfolio-view .view-filters .views-widget {
  width: 100%;
  margin: 0 auto;
  /* Check boxes  */
}

div#portfolioview .single-page .view-portfolio-view .view-filters .views-widget .bef-checkboxes {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 5px;
  width: 100%;
  flex-wrap: wrap;
  background: #fff;
}

div#portfolioview .single-page .view-portfolio-view .view-filters .views-widget .bef-checkboxes input {
  vertical-align: middle;
}

div#portfolioview .single-page .view-portfolio-view .view-filters .views-widget-filter-field_project_technology_tid {
  width: 100%;
  padding: 0;
}

div#portfolioview .single-page .view-portfolio-view .view-filters .views-submit-button {
  display: none;
}

div#portfolioview .single-page .view-portfolio-view .view-content {
  /* background: yellow; */
  margin-left: -3px;
  margin-right: -3px;
}

div#portfolioview .single-page .view-portfolio-view .view-content .views-row {
  /* background: color(segment-bg); */
  /* border: 1px solid blue; */
  /* border-bottom: 1px solid #ccc;
			    		/* border-right: 1px solid #cccccc;*/
  float: left;
  width: 33.33%;
  padding: 3px;
  text-align: center;
  /* box-shadow: 0 0 20px #ddd; */
  margin-bottom: 2px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@media screen and (max-width: 991px) {
  div#portfolioview .single-page .view-portfolio-view .view-content .views-row {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  div#portfolioview .single-page .view-portfolio-view .view-content .views-row {
    width: 100%;
  }
}

div#portfolioview .single-page .view-portfolio-view .view-content .views-row .node-portfolio {
  position: relative;
  background: #fff;
  padding: 10px;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  /* animation: spin 10s infinite linear; */
  /* Glavni heading */
  /* Tekst, opis projekta */
}

div#portfolioview .single-page .view-portfolio-view .view-content .views-row .node-portfolio:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 39px;
  bottom: 0px;
  /* border: 1px solid red; */
  left: 0;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.67) 0%, rgba(255, 255, 255, 0.6) 19%, rgba(255, 255, 255, 0.8) 38%, rgba(255, 255, 255, 0.9) 70%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.67) 0%, rgba(255, 255, 255, 0.6) 19%, rgba(255, 255, 255, 0.8) 38%, rgba(255, 255, 255, 0.9) 70%, white 100%);
  z-index: -1;
  opacity: 0;
}

div#portfolioview .single-page .view-portfolio-view .view-content .views-row .node-portfolio h2 {
  font-size: 1rem;
}

div#portfolioview .single-page .view-portfolio-view .view-content .views-row .node-portfolio .field-name-field-image-portfolio {
  position: relative;
}

div#portfolioview .single-page .view-portfolio-view .view-content .views-row .node-portfolio .field-name-field-image-portfolio img {
  width: 100%;
}

div#portfolioview .single-page .view-portfolio-view .view-content .views-row .node-portfolio .field-name-title {
  position: relative;
}

div#portfolioview .single-page .view-portfolio-view .view-content .views-row .node-portfolio .field-name-title h2 {
  margin: 0;
}

div#portfolioview .single-page .view-portfolio-view .view-content .views-row .node-portfolio div.field-name-body {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: #45c9f5 !important;
  padding: 10px;
  -webkit-transform: translateZ(-20px) rotateY(180deg);
          transform: translateZ(-20px) rotateY(180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

div#portfolioview .single-page .view-portfolio-view .view-content .views-row .node-portfolio div.field-name-body:after {
  content: " ";
  position: absolute;
  top: 0;
  right: -10px;
  width: 20px;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  -webkit-transform: rotateY(-90deg) translateX(-10px);
          transform: rotateY(-90deg) translateX(-10px);
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@media screen and (min-width: 601px) and (max-width: 668px), (max-width: 371px) {
  div#portfolioview .single-page .view-portfolio-view .view-content .views-row .node-portfolio div.field-name-body {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 321px) {
  div#portfolioview .single-page .view-portfolio-view .view-content .views-row .node-portfolio div.field-name-body {
    font-size: 0.8125rem;
  }
}

div#portfolioview .single-page .view-portfolio-view .view-content .views-row .node-portfolio div.field-name-body p {
  margin: 0;
}

.region-highlighted {
  background: rgba(225, 225, 225, 0.25);
}

.grid-item {
  width: 200px;
}

.grid-item--width2 {
  width: 400px;
}

#teamview h2 {
  text-align: center;
  line-height: 1.5;
}

#teamview .view-content {
  margin: 0 -10px;
  overflow: hidden;
  padding: 20px 0;
}

#teamview .views-row {
  width: 25%;
  margin: 0;
  float: left;
  padding: 10px;
}

@media screen and (max-width: 1100px) {
  #teamview .views-row {
    width: 50%;
    padding: 4%;
  }
}

@media screen and (max-width: 700px) {
  #teamview .views-row {
    padding: 2%;
  }
}

@media screen and (max-width: 600px) {
  #teamview .views-row {
    width: 100%;
    padding: 6% 10%;
  }
}

@media screen and (max-width: 450px) {
  #teamview .views-row {
    padding: 6% 2%;
  }
}

@media screen and (max-width: 320px) {
  #teamview .views-row {
    padding: 3% 0;
  }
}

#teamview .views-row .node-team {
  background: rgba(250, 248, 248, 0.6);
  padding: 10px;
  position: relative;
}

#teamview .views-row .group-team-picture-title-wrapper {
  position: relative;
}

#teamview .views-row .group-team-picture-title-wrapper .field-name-title {
  position: absolute;
  bottom: 10%;
  width: 96%;
  left: -3%;
}

@media screen and (max-width: 320px) {
  #teamview .views-row .group-team-picture-title-wrapper .field-name-title {
    width: 100%;
  }
}

#teamview .views-row .group-team-picture-title-wrapper .field-name-title .field-item:after {
  content: " ";
  position: absolute;
  height: 100%;
  /* border: 1px solid red; */
  width: 30px;
  background: rgba(62, 155, 186, 0.86);
  -webkit-transform: skewY(-23deg);
  -ms-transform: skewY(-23deg);
  transform: skewY(-23deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  top: -6px;
  left: -5px;
}

#teamview .views-row .group-team-picture-title-wrapper h2 {
  margin: 0;
  font-size: 1.1rem;
  color: white;
  background: rgba(69, 201, 245, 0.89);
  padding: 5px 10px;
  text-align: left;
  z-index: 2;
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255, 0.69);
  left: -5px;
}

@media screen and (max-width: 320px) {
  #teamview .views-row .group-team-picture-title-wrapper h2 {
    font-size: 1rem;
  }
}

#teamview .views-row .group-team-picture-title-wrapper h2:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(2, 60, 80, 0.53);
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  width: 0;
  height: 100%;
  z-index: -1;
}

#teamview .views-row .group-team-picture-title-wrapper .field-name-field-pictute {
  width: 100%;
  margin: 0;
  margin: 0 auto;
  text-align: center;
}

#teamview .views-row .group-team-picture-title-wrapper .field-name-field-pictute .field-item img {
  z-index: 2 !important;
  position: relative;
  width: 100%;
}

#teamview .views-row .group-team-details-wrapper {
  color: #000;
  font-weight: normal;
  width: 100%;
}

#teamview .views-row .group-team-details-wrapper .field-name-field-position {
  text-align: center;
  width: 100%;
  line-height: 1.5;
  color: #001A23;
}

#teamview .views-row .group-team-details-wrapper .field-name-body {
  width: 100%;
  text-align: center;
  /* display: none; */
}

#teamview .views-row .group-team-details-wrapper .field-name-body p {
  font-size: 0.875rem;
  margin: 0;
}

#teamview .views-row .field-name-field-technology {
  font-size: 15px;
  font-weight: 500;
  padding: 5px 5px 0;
  background: white;
  border-bottom: 1px solid #dcdada;
  border-top: 1px solid #dcdada;
  margin: 0 -10px -10px;
}

#teamview .views-row .field-name-field-technology .field-items {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#teamview .views-row .field-name-field-technology .field-items .field-item {
  padding: 0 5px;
  text-align: center;
}

#contentcontactus {
  padding: 100px 0;
  background: rgba(247, 243, 243, 0.6);
  background-image: url("../images-source/portfolio/portfolio-bg-blue-greyscale-blur.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0;
  background: #023c50;
}

#contentcontactus h2.single-page-title {
  text-align: center;
  color: #ffffff;
}

#contentcontactus .node-webform {
  padding: 30px 0;
}

#contentcontactus .node-webform form {
  position: relative;
  /* background: yellow; */
}

#contentcontactus .node-webform form fieldset {
  padding: 10px 5px;
  width: 49%;
  min-width: 1px;
  border: none;
  margin: 0;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

@media screen and (max-width: 991px) {
  #contentcontactus .node-webform form fieldset {
    width: 75%;
    margin: 0 auto !important;
    float: none !important;
  }
}

@media screen and (max-width: 767px) {
  #contentcontactus .node-webform form fieldset {
    width: 100%;
  }
}

#contentcontactus .node-webform form fieldset .contact-input-field:after {
  content: " ";
  position: absolute;
  height: 36px;
  /* border: 1px solid red; */
  width: 30px;
  background: rgba(62, 155, 186, 0.86);
  -webkit-transform: skewY(-23deg);
  -ms-transform: skewY(-23deg);
  transform: skewY(-23deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  top: 2px;
  left: -8px;
}

@media screen and (max-width: 450px) {
  #contentcontactus .node-webform form fieldset .contact-input-field:after {
    top: -3px;
    height: 22px;
  }
}

#contentcontactus .node-webform form fieldset div.form-item {
  margin: 0 !important;
  margin-bottom: 18px !important;
  position: relative;
}

#contentcontactus .node-webform form fieldset div.form-item label {
  font-weight: normal;
  color: white;
  background: rgba(69, 201, 245, 0.89);
  width: 25%;
  padding: 2px 5px 0;
  position: absolute;
  top: 8px;
  left: -8px;
  line-height: 31px;
  z-index: 3;
  text-align: right;
  min-width: 115px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.69);
}

@media screen and (max-width: 450px) {
  #contentcontactus .node-webform form fieldset div.form-item label {
    min-width: none;
    line-height: 22px;
    top: 4px;
  }
}

#contentcontactus .node-webform form fieldset div.form-item label .form-required {
  float: left;
  background: rgba(255, 255, 255, 0.69);
  color: rgba(0, 26, 35, 0.8);
  line-height: normal;
  position: absolute;
  top: 0;
  left: 100%;
}

#contentcontactus .node-webform form fieldset div.form-item input {
  background: white;
  position: relative;
  z-index: 2;
  line-height: 48px;
  border: 1px solid #BCBCBB;
}

@media screen and (max-width: 450px) {
  #contentcontactus .node-webform form fieldset div.form-item input {
    line-height: normal;
    padding-top: 35px;
    padding-bottom: 10px;
  }
}

#contentcontactus .node-webform form .webform-component--info-group {
  /* background: #e7a520; */
  float: left;
  margin-right: 5px;
}

#contentcontactus .node-webform form .webform-component--message-group {
  /* background: #89ca89; */
  float: right;
}

#contentcontactus .node-webform form .webform-component--message-group .fieldset-wrapper .form-item:after {
  content: " ";
  position: absolute;
  height: 36px;
  width: 30px;
  background: rgba(62, 155, 186, 0.86);
  -webkit-transform: skewY(-23deg);
  -ms-transform: skewY(-23deg);
  transform: skewY(-23deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  top: 2px;
  left: -8px;
  z-index: 1;
}

@media screen and (max-width: 450px) {
  #contentcontactus .node-webform form .webform-component--message-group .fieldset-wrapper .form-item:after {
    height: 22px;
    top: -3px;
  }
}

#contentcontactus .node-webform form .form-textarea-wrapper textarea {
  padding-top: 45px;
  background: #ffffff;
  z-index: 2;
  position: relative;
  border: 1px solid #BCBCBB;
}

#contentcontactus .node-webform form .form-actions {
  float: right;
  /* left: 50%; */
  margin-right: 40%;
  position: relative;
  width: 20%;
  margin-top: 31px;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

@media screen and (max-width: 991px) {
  #contentcontactus .node-webform form .form-actions {
    width: 30%;
    margin-right: 35%;
  }
}

@media screen and (max-width: 767px) {
  #contentcontactus .node-webform form .form-actions {
    width: 50%;
    margin-right: 25%;
  }
}

@media screen and (max-width: 450px) {
  #contentcontactus .node-webform form .form-actions {
    width: 90%;
    margin-right: 5%;
  }
}

#contentcontactus .node-webform form .form-actions:hover {
  background: grey;
}

#contentcontactus .node-webform form .form-actions:after {
  content: " ";
  position: absolute;
  height: 36px;
  /* border: 1px solid red; */
  width: 30px;
  background: rgba(62, 155, 186, 0.86);
  -webkit-transform: skewY(-23deg);
      -ms-transform: skewY(-23deg);
          transform: skewY(-23deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  top: -5px;
  left: 0;
}

#contentcontactus .node-webform form .form-actions:before {
  content: " ";
  position: absolute;
  height: 36px;
  /* border: 1px solid red; */
  width: 30px;
  background: rgba(62, 155, 186, 0.86);
  -webkit-transform: skewY(23deg);
      -ms-transform: skewY(23deg);
          transform: skewY(23deg);
  top: -5px;
  right: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

#contentcontactus .node-webform form .form-actions input {
  font-weight: normal;
  color: white;
  background: rgba(69, 201, 245, 0.89);
  width: 100%;
  padding: 0 5px;
  position: relative;
  bottom: 0;
  right: 0;
  line-height: 31px;
  z-index: 3;
  text-align: right;
  min-width: 115px;
  border: 3px solid rgba(255, 255, 255, 0.69);
  text-align: center;
  font-weight: bold;
}

div#portfolioview {
  position: relative;
}

div#portfolioview:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../images-source/belgrade-bridge.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0;
  z-index: -1;
  opacity: 0.5;
}

div#portfolioview .single-page-title {
  color: #fff;
}

div#portfolioview .view-filters {
  border-top: 1px solid #fff;
}

div#portfolioview .view-filters .views-exposed-widget > label {
  background: rgba(255, 255, 255, 0.27);
  color: #fff;
  margin-bottom: 5px;
  padding: 5px;
}

div#portfolioview .view-filters .bef-checkboxes {
  background: rgba(255, 255, 255, 0.63);
}

div#portfolioview .views-row {
  /* box-shadow: 0 0 20px #ddd; */
  border: none;
}

div#portfolioview .views-row .node-portfolio {
  background: rgba(255, 255, 255, 0.83);
}

/* Efekat rotacija na Portfolio view elemenata */
div#portfolioview .views-row:hover .node-portfolio {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 1000;
}

/* Efekti na headeru  */
.dropDown-mobile-navbar {
  width: 100% !important;
}

.dropDown-mobile-navbar ul {
  text-align: center;
  height: auto !important;
}

/* Language switcher effects */
.otpadnik {
  position: relative;
  padding: 0 10px;
  top: 3px;
  right: 0;
}

.otpadnik li {
  float: none;
  margin: 5px;
  margin: 0 !important;
  padding: 0 !important;
  border-top: 1px solid #ffffff;
}

.otpadnik li a.session-active {
  color: #45c9f5;
  border: none !important;
}

.otpadnik li:first-child {
  border: none;
}

@media screen and (max-width: 500px) {
  .otpadnik {
    position: absolute;
    top: auto;
    bottom: 0;
  }
}

/* Temaview person h2 before element:hover */
/*
#teamview {
	.group-team-picture-title-wrapper {
		h2:hover{
			&:before{
				width: 100%;

			}
		}
	}
}

*/

/*# sourceMappingURL=styles.css.map */
